@page "/3"
@using System.Net.Http.Json
@using MudBlazorServerCRUD.Model
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using MudBlazorServerCRUD.Pages.Form

@inject IStudentService StudentService
@inject IGenderService GenderService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@* <MudButton Variant="Variant.Filled" Class="my-3 ml-auto" Color="Color.Success" OnClick="@(() => CreateNewStudent(new Student()))" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add">Add Student</MudButton> *@
@* <div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Value="_readOnly" Color="Color.Primary">Read Only</MudSwitch>
    <div class="d-flex justify-start align-center">
        <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Form</p>
        <MudSwitch @bind-Value="_isCellEditMode">Cell</MudSwitch>
    </div>
    <div class="d-flex justify-start align-center">
        <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Manual</p>
        <MudSwitch @bind-Value="_editTriggerRowClick">On Row Click</MudSwitch>
    </div>
</div> *@

<MudText Typo="Typo.h6">Students</MudText>

<MudDataGrid @ref="_studentDataGrid" T="Student" FilterMode="DataGridFilterMode.ColumnFilterRow" Bordered="true"
             MultiSelection="false" Items="@FilteredStudents" SortMode="SortMode.Multiple" EditDialogOptions="@_maxWidth"
             Filterable="true" FilterCaseSensitivity="@_caseSensitivity" QuickFilter="@_quickFilter" Striped="true" EditTrigger="DataGridEditTrigger.Manual"
             StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
             Hideable="true" EditMode="@_filterMode" ReadOnly="@_readOnly">
    <ToolBarContent>
        <MudButton Variant="Variant.Filled" Class="my-3 ml-auto" Color="Color.Success" OnClick="CreateNewStudent" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add">Add Student</MudButton>
        @* <MudButton Variant="Variant.Filled" Class="my-3 ml-auto" Color="Color.Success" OnClick="@(() => _studentDataGrid.SetEditingItemAsync(new Student()))" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add">Add Student</MudButton> *@
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        @* <SelectColumn T="Student" /> *@
        <PropertyColumn Property="x => x.Name" SortBy="@_sortBy">
            <FilterTemplate>
                <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
                     <MudTextField Value="@_nameSearchFilter" T="string" Immediate="true" ValueChanged="@((x)=> OnNameValueChange(x))"></MudTextField>
                     <MudIconButton Icon="@(string.IsNullOrEmpty(_nameSearchFilter) ? Icons.Material.Filled.FilterAlt : Icons.Material.Filled.FilterAltOff)" Size="@Size.Small" />
                 </MudStack>
             </FilterTemplate>
         </PropertyColumn>
         <PropertyColumn Property="x => x.Email" Title="Email">
             <FilterTemplate>
                 <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
                     <MudTextField Value="@_emailSearchFilter" T="string" Immediate="true" ValueChanged="@((x)=> OnEmailValueChange(x))"></MudTextField>
                     <MudIconButton Icon="@(string.IsNullOrEmpty(_emailSearchFilter) ? Icons.Material.Filled.FilterAlt : Icons.Material.Filled.FilterAltOff)" Size="@Size.Small" />
                 </MudStack>
             </FilterTemplate>
         </PropertyColumn>
         <PropertyColumn Property="x => x.GenderId" Title="Genders">
             @* <CellTemplate>
                 @if (@context.Item.GenderId == 1)
                {
                    <MudText>Male</MudText>
                }
                else if (@context.Item.GenderId == 2)
                {
                    <MudText>Female</MudText>
                }
                else
                {
                    <MudText>Other</MudText>
                }
             </CellTemplate> *@
             <EditTemplate>
                 <MudSelect Strict Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Required RequiredError="You must select a gender!!!" Margin="@Margin.Dense"
                            @bind-Value="context.Item.GenderId" Class="mt-3">
                    @foreach (var gender in GenderService.Genders)
                    {
                        <MudSelectItem Value="gender.Id">@gender.Name</MudSelectItem>
                    }
                </MudSelect>
             </EditTemplate>
         </PropertyColumn>
        <PropertyColumn Property="x => x.Marks" Title="Marks">
             <FilterTemplate>
                 <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
                     <MudNumericField Value="@_marksSearchFilter" T="int" Immediate="true" ValueChanged="@((x)=> OnMarksValueChange(x))"></MudNumericField>
                     <MudIconButton Icon="@(_marksSearchFilter > 0 ? Icons.Material.Filled.FilterAlt : Icons.Material.Filled.FilterAltOff)" Size="@Size.Small" />
                 </MudStack>
             </FilterTemplate>
         </PropertyColumn>
         <PropertyColumn Property="x => x.DateOfBirth" Title="Date Of Birth" CellClass="mt-3">
             <EditTemplate>
                 <MudDatePicker @bind-Date="context.Item.DateOfBirth" Class="mt-3" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Editable="true"
                                DateFormat="dd/MM/yyyy" />
             </EditTemplate>
         </PropertyColumn>
         <TemplateColumn CellClass="">
             <CellTemplate>
                 <MudStack Row>
                    <MudIconButton Size="@Size.Small" Color="Color.Info"  Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                    <MudIconButton Size="@Size.Small" Color="Color.Error" Icon="@Icons.Material.Outlined.Delete" OnClick="(() => DeleteStudentDataRow(context.Item))" />
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <NoRecordsContent>
        No Records added.
    </NoRecordsContent>
    <PagerContent>
        <MudDataGridPager T="Student" />
    </PagerContent>
</MudDataGrid>

@* <style>
    .mud-dialog  .mud-button {
        width: 100%;
    }

</style> *@

@code {
    private IEnumerable<Student> _Students = new List<Student>();
    DataGridFilterCaseSensitivity _caseSensitivity = DataGridFilterCaseSensitivity.CaseInsensitive;
    private string _searchString;
    private string _nameSearchFilter = string.Empty;
    private string _emailSearchFilter = string.Empty;
    private int _marksSearchFilter;
    private string _marksValue;
    private bool _sortNameByLength;
    private List<string> _events = new();
    private bool _isCellEditMode = false;
    private bool _readOnly = false;
    private bool _editRow = false;
    private bool _saveRow;
    DataGridEditMode _filterMode = DataGridEditMode.Form;
    private MudDataGrid<Student> _studentDataGrid;
    private readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Medium, FullWidth = true, BackdropClick = false,  };

    // custom sort by name length
    private Func<Student, object> _sortBy => x =>
    {
        if (_sortNameByLength)
            return x.Name.Length;
        else
            return x.Name;
    };

    // quick filter - filter globally across multiple columns with the same input
    private Func<Student, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Email.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{x.DateOfBirth}".Contains(_searchString))
            return true;

        return false;
    };

    private IEnumerable<Student> FilteredStudents => StudentService.Students
        .Where(x => string.IsNullOrEmpty(_nameSearchFilter) || x.Name.Contains(_nameSearchFilter, StringComparison.OrdinalIgnoreCase))
        .Where(x => string.IsNullOrEmpty(_emailSearchFilter) || x.Email.Contains(_emailSearchFilter, StringComparison.OrdinalIgnoreCase))
        /* .Where(x => x.Marks == MarksFilter) */;

    protected override async Task OnInitializedAsync()
    {
        await LoadSutents();
    }

    private async Task LoadSutents()
    {
        await StudentService.GetStudents();
        await GenderService.GetGenders();
        StateHasChanged();
    }

    async void OnNameValueChange(string str)
    {
        _nameSearchFilter = str;
    }

    async void OnEmailValueChange(string str)
    {
        _emailSearchFilter = str;
    }

    async void OnMarksValueChange(int marks)
    {
        _marksSearchFilter = marks;
    }

    async Task CreateNewStudent()
    {
        //_studentDataGrid.SetEditingItemAsync(new Student());
        await DialogService.ShowAsync<StudentFormCRUDDataGridDialog>("", _maxWidth);
       // await DialogService.ShowAsync<StudentFormDialogMain>("", _maxWidth);
    }

    async Task DeleteStudentDataRow(Student student)
    {
        await StudentService.DeleteStudent(student.Id);
        Snackbar.Add("Student deleted successfuly!", Severity.Success);
        await LoadSutents();
    }

    // events
    void StartedEditingItem(Student student)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(student)}");
    }

    void CanceledEditingItem(Student student)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(student)}");
    }

    async void CommittedItemChanges(Student student)
    {
        await StudentService.UpdateStudent(student);
        _readOnly = false;
        _editRow = false;
        Snackbar.Add("Student updated successfuly!", Severity.Success);
        //_events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(student)}");
    }
}